* {
    image-rendering: pixelated !important;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.palette-drop {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.palette-container {
    display: flex;
    flex-wrap: wrap;
}

.palette-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 120px;
    border: 4px solid transparent;
}

.palette-img {
    object-fit: contain;
    max-width: 50px;
    margin: 10% auto;
}

.directory-img {
    margin: 0 auto;
}

.directory-name {
    text-align: center;
    margin-top: 5px;
    font-size: 0.7em;
}

.palette-cell-target {
    border: 4px solid blue;
}

.game-objects-container {
    display: flex;
    flex-wrap: wrap;
}

.game-object-name {
    text-align: center;
    margin-top: 5px;
    font-size: 0.7em;
}

.game-object-img {
    object-fit: contain;
    max-width: 3vw;
    margin: 10% auto;
}

.game-object-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 120px;
    border: 4px solid transparent;
}

.game-object-cell-target {
    border: 4px solid blue;
}

.context-menu {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

.context-menu-ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.context-menu-li {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.context-menu-li :hover {
    background: rgba(0, 0, 0, 0.2);
}

.scene-container {
    position: relative;
}

.canvas-grid {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1200px;
    height: 650px;
    background-position: 0px 0px;
    /*background-image: url('../images/grid/cell_0.png');*/
}

.tool-cell {
    border: 2px solid transparent;
}

.tool-selected {
    border: 2px solid blue;
}

.params-label {
    margin: 0;
}

.params-label-input {
    margin-top: 7px;
    display: flex;
}

.params-button {
    margin-top: 7px;
}
